.roate_img {
    animation: roateImg 5s linear infinite;
}

.roate_img2 {
    animation: roateImg 5s linear infinite;
}

@keyframes roateImg {
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        /* animation-timing-function: cubic-bezier(0.8, 0, 1, 1); */
    }

    50% {
        transform: none;
        /* animation-timing-function: cubic-bezier(0, 0, 0.2, 1); */
    }
}

.roate_img3 {
    animation: bounce 5s ease-in-out infinite;
}